<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Samurai - Профиль</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/title_icon.ico') }}" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300;1,400&family=Yellowtail&display=swap"
    rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/profile.css') }}" />
</head>

<body>
  <div class="wrapper">

    <!--HEADER-->

    <header class="header">
      <div class="header_container">
        <div class="header__body">
          <div class="header__logo">
            <a href="{{ url_for('index') }}">Samuraй</a>
          </div>
          <div class="header__burger" id="hamb"><span></span></div>
          <nav class="header__menu" id="menu">
            <ul class="header__list">
              <li>
                <a href="{{ url_for('index') }}" class="header__link">Главная</a>
              </li>
              <li>
                <a href="{{ url_for('newsline') }}" class="header__link">Новости</a>
              </li>
              {% if current_user.is_authenticated %}
              <li>
                <a href="{{ url_for('logout') }}" class="header__link">Выйти</a>
              </li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <!--MAIN ACC CONTENT-->
    <main>
      <div class="acc-holder">
        <div class="bg-acc mx-auto">
          <h1 class="welcome text-center">
            Добро пожаловать, {{ user_info['name'] }}
          </h1>
          <div class="user-info">
            Информация о вас
          </div>
          <div class="container text-start" id="user-info">
            <div class="row justify-content-start px-3">
              <ul class="user-info-lp ">
                <li class="user-item">Имя:</li>
                <li class="user-item">Фамилия:</li>
                <li class="user-item">Юзернейм:</li>
                {% if user_info['sheetID'] %}
                <li class="user-item">S_ID:</li>
                {% endif %}
                {% if not user_info['sheetID'] %}
                <li class="user-item">ID:</li>
                {% endif %}
              </ul>

              <ul class="user-info-rp ">
                <li class="user-item">{{ user_info['name'] }}</li>
                <li class="user-item">{{ user_info['surname'] }}</li>
                <li class="user-item" style="
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;">{{ user_info['username'] }}</li>
                {% if user_info['sheetID'] %}
                <li class="user-item">{{ user_info['sheetID'] }}</li>
                {% endif %}
                {% if not user_info['sheetID'] %}
                <li class="user-item">{{ user_info['id'] }}</li>
                {% endif %}
              </ul>
            </div>
            <div class="buttons-cont">
              <img src="{{ url_for('static', filename='images/download.png') }}" alt="" class="mb-2" />
              <a href="{{ url_for('static', filename='documents/Programma_2019.docx') }}" class="btn btn-outline-dark mb-2"
                type="button" download>Скачать программу</a>
              {% if user_info['sheetID'] %}
              <a href="https://docs.google.com/spreadsheets/d/1YWz2pAkeXtnMRjFZywLb-CJP7Ugynx-7JrI1dNHsuoo/edit#gid={{ user_info['sheetID'] }}"
              class="btn btn-outline-dark mb-2" type="button" target="_blank">
                Смотреть свою ведомость
              </a>
              {% endif %}
              {% if not user_info['sheetID'] %}
              <a href="" class="btn btn-outline-dark mb-2 disabled" type="button" target="_blank">
                У вас пока нет ведомости
              </a>
              {% endif %}
            </div>
          </div>
          <hr class="mb-4" />

          <!--TABS-->
          <div class="tabs" id="tabs-1">
            <div class="choose-q mx-auto">Выберите кю</div>
            <div class="tabs__nav mx-auto">
              <button class="tabs__btn tabs__btn_active">10</button>
              <button class="tabs__btn">9</button>
              <button class="tabs__btn">8</button>
              <button class="tabs__btn">7</button>
              <button class="tabs__btn">6</button>
              <button class="tabs__btn">5</button>
              <button class="tabs__btn">4</button>
              <button class="tabs__btn">3</button>
              <button class="tabs__btn">2</button>
              <button class="tabs__btn">1</button>
            </div>

            <div class="tabs__content">
              <div class="tabs__pane tabs__pane_show">
                <div class="iframe-cont iframe mx-auto">
                  <div class="player" id="player-1" data-video-id="N7bdFzaCWL0" data-width="560" data-height="315">
                  </div>
                </div>
                <div class="prog mx-auto">
                  <h5 class="text-center">10 кю (желтый пояс)</h5>
                  <h4 class="text-center">1 ЧАСТЬ - ПОДГОТОВИТЕЛЬНАЯ</h4>
                  <h3>АКРОБАТИКА</h3>
                  <p>
                    − простой кувырок вперед<br />
                    − простой кувырок назад
                  </p>
                  <h3>СТРАХОВКА</h3>
                  <p>
                    − падение вперед с колен на руки<br />
                    − падение назад
                  </p>
                  <h3>СТП (специальные технические перемещения)</h3>
                  <p>− «ноль» (ирими-тэнкан + мае-тэнкан) без партнера</p>
                  <h3>ОФП</h3>
                  <p>
                    − 5 отжиманий, 5 приседаний, 5 чемоданов , 5 берпи , 1
                    подтягивание
                  </p>
                  <h3>УДАРНАЯ ТЕХНИКА</h3>
                  <p>− одиночные прямые удары, без шага на месте</p>
                  <h3>НВА (начало встречи атаки)</h3>
                  <p>
                    − Стать в стойку в паре. Первый бьет сверху по голове,
                    второй делает шаг назад, выставляя руки в блок, и становится
                    в стойку. <br />
                    − Освобождение от захвата за руки (спереди, руки в замок и к
                    плечу).
                  </p>
                  <h4 class="text-center">2 ЧАСТЬ – ТЕХНИЧЕСКИЕ ПРИЕМЫ</h4>
                  <p>
                    1. Защита от захвата волос спереди: сильное прижатие кулака
                    партнера к голове, отступление назад с наклоном вперед,
                    контроль кисти <strong>(никьё)</strong><br />
                    2. Защита от захвата воротника сзади одной рукой: проход под
                    рукой назад и контроль кисти
                    <strong>(уширо ката дори никьё)</strong><br />
                    3. Защита от захвата сбоку сзади (от вора-карманника):
                    контроль кисти <strong>(никьё)</strong><br />
                    4. Защита от захвата одноименной руки (рукопожатие): проход
                    под рукой, «сечение» руки вниз, контроль кисти
                    <strong>(ай ханми юбидори санкьё)</strong><br />
                    5. Защита от удара рукой в голову сверху: вывернуться и
                    направить партнера во внешний круг с контролем локтя
                    <strong>(шомен учи икьё ура)</strong>, контроль кисти
                    <strong>(икьё)</strong><br />
                  </p>
                  <h4 class="text-center">3 ЧАСТЬ - ИТОГОВАЯ</h4>
                  <p>
                    Встать в стойку в паре. Первый бьет сверху по голове, второй
                    делает шаг назад, выставляя руки в блок, и становится в
                    стойку. Плюс любой прием из программы.
                  </p>
                </div>
              </div>

              <div class="tabs__pane">
                <div class="iframe-cont iframe mx-auto">
                  <div class="player" id="player-2" data-video-id="5sjKkbJT3jM" data-width="560" data-height="315">
                  </div>
                </div>
                <div class="prog mx-auto">
                  <h5 class="text-center">9 кю (желтый пояс с полоской)</h5>
                  <h4 class="text-center">1 ЧАСТЬ - ПОДГОТОВИТЕЛЬНАЯ</h4>
                  <h3>АКРОБАТИКА</h3>
                  <p>
                    − простой кувырок вперед + два прямых удара
                    − простой кувырок назад + два прямых удара
                  </p>
                  <h3>СТРАХОВКА</h3>
                  <p>
                    − падение вперед из стойки<br />
                    − падение назад из стойки
                  </p>
                  <h3>ПЕРЕМЕЩЕНИЯ</h3>
                  <p>
                    − ирими-тэнкан<br />
                    − тэнкай
                  </p>
                  <h3>СТП (специальные технические перемещения)</h3>
                  <p>− «ноль» с партнером+икке(контроль локтя)</p>
                  <h3>УДАРНАЯ ТЕХНИКА</h3>
                  <p>
                    − КИХОН ДОСА (Кодачи)–ки-о цке, рей, камае то, осамэ то, рей. <br />
                    − одиночные прямые удары из стойки
                  </p>
                  <h3>НВА (начало встречи атаки)</h3>
                  <p>
                    − «тренажер» встреча крестом «наружу», стойка ай ханми, удар с «дальней» руки (Мэн учи, удар ладонью
                    в голову)
                  </p>
                  <h3>ОФП</h3>
                  <p>
                    − 10 отжиманий, 10 приседаний, 10 чемоданов ,10 берпи , 2 подтягивание
                  </p>
                  <h4 class="text-center">2 ЧАСТЬ – ТЕХНИЧЕСКИЕ ПРИЕМЫ</h4>
                  <p>
                    1. Защита от разноименного захвата руки: уход в сторону, контроль кисти <strong>(гьяко ханми кататэ
                      дори никьё)</strong><br />
                    2. Атака шомен учи, встреча крестом. Перехват одноименной руки (рукопожатие): полный разворот за
                    атакующую руку, контроль кисти <strong>(никё)</strong><br />
                    3. Защита от захвата талии сзади: освобождение захватом пальцев, контроль кисти
                    <strong>(никьё)</strong><br />
                    <strong>Вариант А –</strong> Захват не произошел;<br />
                    <strong>Вариант Б –</strong> Захват произошел;<br />
                    4. Защита от захвата двух рук спереди: уход в сторону, контроль кисти <strong>(рё тэ дори
                      никьё)</strong><br />
                    5. Защита от разноименного захвата руки спереди: цуги аши, прихват – проход под рукой – сечение руки
                    вниз <strong>(гьяко ханми юби дори санкьё)</strong><br />
                    6. Защита от удара в голову сверху: скрещение рук <strong>(шомэн учи никьё)</strong><br />
                  </p>
                  <h4 class="text-center">3 ЧАСТЬ - ИТОГОВАЯ</h4>
                  <p>
                    Упражнение <strong>«ноль»</strong>, атака <strong>шомэн учи</strong> + техника никьё (встреча
                    крестом).
                    Уке 1 бьет шомен учи -Уке 2 делает шаг назад и становится в стойку,
                    Уке 1 бьет другой рукой – Уке 2 делает 2 раза «ноль» - заканчивает техникой встреча крестом
                    <strong>(шомэн учи никьё)</strong>.
                  </p>
                </div>
              </div>

              <div class="tabs__pane">
                <div class="iframe-cont iframe mx-auto">
                  <div class="player" id="player-3" data-video-id="0bnkrtvjxjU" data-width="560" data-height="315">
                  </div>
                </div>
                <div class="prog mx-auto">
                  <h5 class="text-center">8 кю (оранжевый пояс)</h5>
                  <h4 class="text-center">1 ЧАСТЬ - ПОДГОТОВИТЕЛЬНАЯ</h4>
                  <h3>АКРОБАТИКА</h3>
                  <p>
                    − мае-укеми<br />
                    − уширо-укеми
                  </p>
                  <h3>СТРАХОВКА</h3>
                  <p>
                    − падение вперед из стойки + два прямых удара<br />
                    − падение назад из стойки + два прямых удара<br />
                    − падение на бок
                  </p>
                  <h3>ПЕРЕМЕЩЕНИЯ</h3>
                  <p>
                    − ирими-тэнкан<br />
                    − тэнкай<br />
                    − цуги-аши
                  </p>
                  <h3>СТП (специальные технические перемещения)</h3>
                  <p>− «единица» +икке(контроль локтя)</p>
                  <h3>УДАРНАЯ ТЕХНИКА</h3>
                  <p>
                    − КИХОН ДОСА (<strong>Кодачи</strong>)–ки-о цке, рей, камае то, осамэ то, рей.<br />
                    − кихон(мэн- удар в голову, котэ- удар в руку; кодачи- короткий меч)<br />
                    − прямые удары(двойка) с под шагом
                  </p>
                  <h3>НВА (начало встречи атаки)</h3>
                  <p>
                    − «тренажер» встреча крестом «наружу», стойка ай ханми, удар с «дальней» руки (Мэн учи, удар
                    15ладонью в голову)+ «тренажер» (встреча крестом, атака гедан цки)
                  </p>
                  <h3>ОФП</h3>
                  <p>
                    − 15 отжиманий, 15 приседаний, 15 чемоданов , 15 берпи , 3 подтягивание
                  </p>
                  <h4 class="text-center">2 ЧАСТЬ – ТЕХНИЧЕСКИЕ ПРИЕМЫ</h4>
                  <p>
                    1. <strong>Шомэн учи никьё</strong> (вход крестом)<br />
                    <strong>• омотэ</strong><br />
                    <strong>• ура</strong> (кисть к плечу)<br />
                    2. <strong>Шомэн учи хиджи кими осаэ</strong> (Удар сверху – обработка локтя своим весом –
                    контроль)<br />
                    3. <strong>Шомэн учи юби дори санкьё</strong> (Защита от удара в голову сверху, проход под рукой,
                    <strong>«сечение»</strong>
                    руки вниз с раскруткой, контроль кисти)<br />
                    4. Толчек двумя руками в грудь <strong> юби дори</strong> (контроль за пальцы)<br />
                    5. <strong>Уширо куби шими никьё «ошейник»</strong><br />
                    Уке 1 наносит удар шомен учи – Уке 2 делает шаг назад и становится в стойку<br />
                    Уке 1 делает удушающий захват «ошейник» - Уке 2 делает технику захват за воротник сзади,
                    опрокидывание партнера назад за воротник и за ногу.<br />
                    6. Гедан цки никьё (вариант омотэ)<br />
                    7. Гедан цки никьё (кисть к плечу)<br />
                    8. Гедан цки никьё («обратный» контроль локтя)<br />
                  </p>
                  <h4 class="text-center">3 ЧАСТЬ - ИТОГОВАЯ</h4>
                  <p>
                    Упражнение "единица" + 2 техники: </br>
                    <strong>Вариант А</strong> – Уке 1 наносит удар шомен учи – Уке 2 делает шаг назад и становится в
                    стойку – Уке 1
                    наносит удар шомен учи - Уке 2 делает технику «Единицу» на одну руку, затем на вторую,
                    заканчивая техникой <strong>(ай ханми юби дори санкьё)</strong></br>
                    <strong>Вариант Б</strong> – Уке 1 наносит удар шомен учи – Уке 2 делает шаг назад и становится в
                    стойку – Уке 1
                    наносит удар шомен учи - Уке 2 делает технику «Единицу» на одну руку, затем на вторую,
                    заканчивая техникой <strong>(шомэн учи хиджи кими осаэ)</strong>
                  </p>
                </div>
              </div>

              <div class="tabs__pane">
                <div class="iframe-cont iframe mx-auto">
                  <div class="player" id="player-4" data-video-id="k_hI6oJtMc4" data-width="560" data-height="315">
                  </div>
                </div>
                <div class="prog mx-auto">
                  <h5 class="text-center">7 кю (оранжевый пояс с полоской)</h5>
                  <h4 class="text-center">1 ЧАСТЬ - ПОДГОТОВИТЕЛЬНАЯ</h4>
                  <h3>АКРОБАТИКА</h3>
                  <p>
                    − мае-укеми + два прямых удара<br />
                    − уширо-укеми + два прямых удара
                  </p>
                  <h3>СТРАХОВКА</h3>
                  <p>
                    − предыдущие падения<br />
                    − страховка через кувырок вперед <strong>(катаукеми)</strong>
                  </p>
                  <h3>ПЕРЕМЕЩЕНИЯ</h3>
                  <p>
                    − уширо-тэнкан, мае-тэнкан<br />
                    − аюми-аши
                  </p>
                  <h3>СТП (специальные технические перемещения)</h3>
                  <p>− единица на два человека + икке(контроль локтя, вариант «ура») + любая техника с программы</p>
                  <h3>УДАРНАЯ ТЕХНИКА</h3>
                  <p>
                    − КИХОН ДОСА <strong>(Кодачи)</strong>–ки-о цке, рей, камае то, мэн-о утэ, котэ-о утэ, миги кара
                    до-о утэ, хидари кара аши-о утэ, цки, мото-но ичи, осамэ то, рей.<br />
                    − одиночные боковые удары из стойки<br />
                    − боковой удар из стойки с дальней руки, с шагом
                  </p>
                  <h3>НВА (начало встречи атаки)</h3>
                  <p>
                    − «тренажер» встреча крестом «наружу» + «тренажер» (встреча крестом, атака геданцки)<br />
                    − «тренажер» встреча крестом «внутрь»
                  </p>
                  <h3>ОФП</h3>
                  <p>
                    − 20 отжиманий, 20 приседаний, 20 чемоданов , 20 берпи , 4 подтягивание
                  </p>
                  <h4 class="text-center">2 ЧАСТЬ – ТЕХНИЧЕСКИЕ ПРИЕМЫ</h4>
                  <p>
                    1. <strong>Учи кайтен санкьё</strong><br />
                    • омотэ — проход под рукой, ирине -тэнкан-тэнкай<br />
                    • ура — проход под рукой, шаг назад тэнкай<br />
                    2. <strong>Икьё (внутренний вход крестом)</strong><br />
                    • омотэ<br />
                    3. <strong>Шихо наге (омотэ)-(внутренний вход крестом)</strong><br />
                    4. <strong>Удэ кими наге (внутренний вход крестом)</strong><br />
                    5. <strong>Котэ гаёши (внутренний вход крестом)</strong><br />
                    6. <strong>Кокью наге (внутренний вход крестом, проход под рукой, бросок двумя руками,
                      «палец»)</strong><br />
                  </p>
                  <h4 class="text-center">3 ЧАСТЬ - ИТОГОВАЯ</h4>
                  <p>
                    –<strong>Уке 1</strong> наносит удар мэн ари - <strong>Уке 2</strong> делает шаг назад и встает в
                    стойку. Уке 1 наносит удар другой рукой – Уке 2 делает внутренний вход крестом – делает одну из
                    техник (<strong>шихо наге</strong> или <strong>уде кими наге</strong>).<br />
                    –единица: «1» - сброс – «1» - сброс - <strong>Уке 1</strong> (любая техника из предыдущих кю) -
                    <strong>Уке 2</strong> – техника из этой программы с внутренним входом. (Не повторять техники из 1
                    пункта 3 части).
                  </p>
                </div>
              </div>

              <div class="tabs__pane">
                <div class="iframe-cont iframe mx-auto">
                  <div class="player" id="player-5" data-video-id="esfsx2GCrd4" data-width="560" data-height="315">
                  </div>
                </div>
                <div class="prog mx-auto">
                  <h5 class="text-center">6 кю (зеленый пояс)</h5>
                  <h4 class="text-center">1 ЧАСТЬ - ПОДГОТОВИТЕЛЬНАЯ</h4>
                  <h3>АКРОБАТИКА</h3>
                  <p>
                    − мае-укеми<br />
                    − уширо-укеми<br />
                    − ёко-укеми (боковой кувырок)
                  </p>
                  <h3>СТРАХОВКА</h3>
                  <p>
                    − предыдущие падения (вперед, назад из стойки; падение на бок) + два прямых удара<br />
                    − страховка через кувырок вперед (котэ гаеши, с партнером)
                  </p>
                  <h3>СТП (специальные технические перемещения)</h3>
                  <p>
                    − ноль с 1 партнером от захватов ай ханми<br />
                    − единица на 2 человека от захватов (без техник)<br />
                    − раскрутка на «ирими наге»
                  </p>
                  <h3>УДАРНАЯ ТЕХНИКА</h3>
                  <p>
                    − <strong>КОДАЧИ</strong><br />
                    − связка прямой и боковой удар с шагом
                  </p>
                  <h3>НВА (начало встречи атаки)</h3>
                  <p>
                    − освобождение от одноименного и разноименного захватов, с выходом на упражнение «ноль» (обработка
                    руки партнера)
                  </p>
                  <h3>ОФП</h3>
                  <p>
                    − 25 отжиманий, 25 приседаний, 25 чемоданов ,25 берпи , 5 подтягивание
                  </p>
                  <h4 class="text-center">2 ЧАСТЬ – ТЕХНИЧЕСКИЕ ПРИЕМЫ</h4>
                  <p>
                    1. <strong>Ай ханми кататэ дори шихо наге</strong> (бросок проходом под рукой, бросок «на четыре
                    стороны»)<br />
                    • омотэ — подбив руки, цуги-аши, мае-тэнкан<br />
                    • ура — подбив руки, ирине-тэнкан + тэнкай<br />
                    2. <strong>Гьяко ханми кататэ дори</strong> (захват за разноимённую руку) <strong>шихо
                      наге</strong><br />
                    • омотэ<br />
                    • ура<br />
                    3. <strong>Ай ханми кататэ дори котэ гаёши</strong> (скручивание кисти)<br />
                    • ура<br />
                    4. <strong>Ай ханми кататэ тори удэ кими наге</strong><br />
                    5. <strong>Гьяко ханми кататэ тори удэ кими наге</strong><br />
                    6. <strong>Ай ханми кататэ тори учи кайтен наге</strong><br />
                    7. <strong>Гьяко ханми кататэ тори учи кайтен наге</strong><br />
                    8. <strong>Ай ханми кататэ тори никьё</strong><br />
                    • омотэ<br />
                    • ура
                  </p>
                  <h4 class="text-center">3 ЧАСТЬ - ИТОГОВАЯ</h4>
                  <p>
                    <strong>Вариант А</strong> – Уке 1 наносит удар мен учи – Уке 2 делает шаг назад и становится в
                    стойку – Уке 1 делает захват (любой рукой) - Уке 2 делает технику «ноль» два раза - техника учи
                    кайтен наге<br />
                    <strong>Вариант Б</strong> – Уке 1 наносит удар мен учи – Уке 2 делает шаг назад и становится в
                    стойку – Уке 1 делает захват (любой рукой) - Уке 2 делает технику «ноль» два раза - любая техника от
                    захвата.
                  </p>
                </div>
              </div>

              <div class="tabs__pane">
                <div class="iframe-cont iframe mx-auto">
                  <div class="player" id="player-6" data-video-id="wNbKDiYtofM" data-width="560" data-height="315">
                  </div>
                </div>
                <div class="prog mx-auto">
                  <h5 class="text-center">5 кю (зеленый пояс с черной полоской)</h5>
                  <h4 class="text-center">1 ЧАСТЬ - ПОДГОТОВИТЕЛЬНАЯ</h4>
                  <h3>АКРОБАТИКА</h3>
                  <p>
                    − все кувырки (+ два прямых удара, из стойки)<br />
                    − «колесо»
                  </p>
                  <h3>СТРАХОВКА</h3>
                  <p>
                    − все падения + два прямых удара<br />
                    − като-пад (высокое падение, например, от <strong>котэгаэши</strong>)
                  </p>
                  <h3>СТП (специальные технические перемещения)</h3>
                  <p>
                    − упражнение «ноль», атака захват за две руки спереди<br />
                    − упражнение «единица», атака захват за две руки спереди<br />
                    − раскрутка от атаки Рё те дори
                  </p>
                  <h3>УДАРНАЯ ТЕХНИКА</h3>
                  <p>
                    − <strong>КИХОН ДОСА (тёкенморотэ)</strong>–ки-о цке, рей, камае то, мэн-о утэ, котэ-о утэ, миги
                    кара до-о утэ, хидари кара аши-о утэ, цки, мото-но ичи, осамэ то, рей.<br />
                    − связка «джит кун до», без выноса локтя
                  </p>
                  <h3>НВА (начало встречи атаки)</h3>
                  <p>
                    − освобождение от захватов за две руки<br />
                    − освобождение от захватов за одежду<br />
                    − «полочка» (на «переднюю» и на «дальнюю» руки, «внутрь» и «наружу»)
                  </p>
                  <h3>ОФП</h3>
                  <p>
                    − 30 отжиманий, 30 приседаний, 30 чемоданов ,30 берпи , 6 подтягивание
                  </p>
                  <h4 class="text-center">2 ЧАСТЬ – ТЕХНИЧЕСКИЕ ПРИЕМЫ</h4>
                  <p>
                    1. <strong>Рё тэ дори шихо наге</strong><br />
                    − омотэ<br />
                    − ура<br />
                    2. <strong>Рё тэ дори удэ гарами</strong><br />
                    3. <strong>Рё тэ дори ирими наге</strong><br />
                    4. <strong>Ре тэ дори никьё</strong><br />
                    − омотэ<br />
                    − ура<br />
                    5. <strong>Рё тэ дори коши наге</strong><br />
                    6. <strong>Рё тэ дори джуджи гарами</strong><br />
                    7. <strong>Рё тэ дори хиджи кими осаэ</strong><br />
                    8. <strong>Рё тэ дори кокью наге</strong><br />
                    9. <strong>Ре тэ дори икьё</strong><br />
                  </p>
                  <h4 class="text-center">3 ЧАСТЬ - ИТОГОВАЯ</h4>
                  <p>
                    − Уке 1 наносит удар мен ари, уке 2 - становится в стойку, Уке 1 делает захват за две руки спереди
                    техника <strong>кокью наге, коши наге</strong><br />
                    − упражнение «единица» на 2х партнерах <strong>(атака Рё те дори)</strong> + техника <strong>икьё
                      ура</strong> + техника <strong>1-ая форма никьё</strong> + упражнение «единица» на 2-х партнерах +
                    техника <strong>джуджи гарами</strong> + <strong>техника шихо наге</strong>
                  </p>
                </div>
              </div>

              <div class="tabs__pane">
                <div class="iframe-cont iframe mx-auto">
                  <div class="player" id="player-7" data-video-id="_PdZ3g7RESI" data-width="560" data-height="315">
                  </div>
                </div>
                <div class="prog mx-auto">
                  <h5 class="text-center">4 кю (синий пояс)</h5>
                  <h4 class="text-center">1 ЧАСТЬ - ПОДГОТОВИТЕЛЬНАЯ</h4>
                  <h3>АКРОБАТИКА</h3>
                  <p>
                    − все кувырки (+ два прямых удара, из стойки, с под шагом)
                  </p>
                  <h3>СТРАХОВКА</h3>
                  <p>
                    − все падения + два прямых удара, с под шагом <br />
                    − като-пад (высокое падение, например, от <strong>котэгаэши</strong>)
                  </p>
                  <h3>СТП (специальные технические перемещения)</h3>
                  <p>
                    − <strong>уширо ре те дори</strong> с одним партнером + техника из программы<br />
                    − <strong>уширо ре те дори</strong> с двумя партнерами (уке 1 атака уширориоте тори, уке 2 атака мен
                    учи) + две техники
                  </p>
                  <h3>УДАРНАЯ ТЕХНИКА</h3>
                  <p>
                    − <strong>ТЁКЕН МОРОТЭ</strong><br />
                    − связка «джит кун до», с выносом локтя
                  </p>
                  <h3>ОФП</h3>
                  <p>
                    − 35 отжиманий, 35 приседаний, 35 чемоданов ,35 берпи , 7 подтягивание
                  </p>
                  <h4 class="text-center">2 ЧАСТЬ – ТЕХНИЧЕСКИЕ ПРИЕМЫ</h4>
                  <p>
                    1. <strong>Уширо рё тэ дори коши наге</strong><br />
                    − по Любомиру<br />
                    − классический<br />
                    2. <strong>Уширо рё тэ дори шихо наге</strong><br />
                    3. <strong>Уширо эри дори ирими наге</strong><br />
                    4. <strong>Уширо эри дори тэнчи наге (ирине тэнкан тэнкай)</strong><br />
                    5. <strong>Уширо рё тэ дори джуджи гарами</strong><br />
                    6. <strong>Уширо рё тэ дори учи кайтэн санкьё (2 варианта)</strong><br />
                    7. <strong>Уширо рё тэ дори икьё (2 варианта)</strong><br />
                    8. <strong>Уширо рё тэ дори ирими наге</strong><br />
                    9. <strong>Уширо рё тэ дори котэ гаёши</strong><br />
                    10. <strong>Уширо рё тэ дори кокью наге (2 варианта)</strong>
                  </p>
                  <h4 class="text-center">3 ЧАСТЬ - ИТОГОВАЯ</h4>
                  <p>
                    − <strong>уширо рё тэ дори</strong> с двумя партнерами + техника <strong>икьё</strong> (на дальнюю
                    руку) + техника <strong>кокью наге</strong> + <strong>уширо рё тэ дори</strong> + техника
                    <strong>икьё</strong> (на ближнюю руку) + техника <strong>ирими наге</strong> (уке 1 - атака уширо
                    рё тэ дори, уке 2 - атака уширо рё тэ дори).
                  </p>
                </div>
              </div>

              <div class="tabs__pane">
                <div class="iframe-cont iframe mx-auto">
                  <div class="player" id="player-8" data-video-id="fXk8iZsljOA" data-width="560" data-height="315">
                  </div>
                </div>
                <div class="prog mx-auto">
                  <h5 class="text-center">3 кю (синий пояс с чёрной полоской)</h5>
                  <h4 class="text-center">1 ЧАСТЬ - ПОДГОТОВИТЕЛЬНАЯ</h4>
                  <h3>АКРОБАТИКА</h3>
                  <p>
                    − все кувырки (+ два удара прямой и боковой с шагом, из стойки)
                  </p>
                  <h3>СТРАХОВКА</h3>
                  <p>
                    − все падения + два удара, прямой и боковой с шагом<br />
                    − като-пад (высокое падение, через шихо наге)
                  </p>
                  <h3>СТП (специальные технические перемещения)</h3>
                  <p>
                    − 5 основных входов от бокового удара
                  </p>
                  <h3>УДАРНАЯ ТЕХНИКА</h3>
                  <p>
                    − <strong>КИХОН ДОСАТЁКЕН МОРОТЭ</strong><br />
                    − боковой удары в стойке с под шагом
                  </p>
                  <h3>НВА (начало встречи атаки)</h3>
                  <p>
                    − связка <strong>джит-кун-до</strong> от боковых ударов<br />
                    − «тренажер» встреча крестом «наружу» + «тренажер» (встреча крестом, атака гедан цки)
                    + «тренажер» встреча крестом «внутрь» + «тренажер» от бокового удара (с дальней руки)
                  </p>
                  <h3>ОФП</h3>
                  <p>
                    40 отжиманий, 40 приседаний, 40 чемоданов ,40 берпи , 8 подтягивание
                  </p>
                  <h4 class="text-center">2 ЧАСТЬ – ТЕХНИЧЕСКИЕ ПРИЕМЫ</h4>
                  <p>
                    1. <strong>Коши наге</strong> (2 варианта)<br />
                    − «контроль плеча»<br />
                    2. <strong>Котэ гаёши</strong> (2 варианта)<br />
                    3. <strong>Шихо наге</strong><br />
                    • омотэ — <strong>ирине-тэнкан</strong>, шаг назад, проход под рукой<br />
                    • ура — <strong>цуги-аши, уширо-тэнкан, тэнкай</strong><br />
                    4. <strong>Тэнчи наге</strong> («бросок неба и земли»)<br />
                    • омотэ — <strong>цуги-аши, аюми-аши</strong><br />
                    • ура — ирине тэнкан тэнкай<br />
                    5. <strong>Учи кайтэн санкьё</strong><br />
                    • 1 вариант — проход под рукой, <strong>ирине - тэнкан - тэнкай</strong><br />
                    • 2 вариант — проход под рукой, шаг назад, <strong>тэнкай</strong><br />
                    6. <strong>Ирими наге</strong><br />
                    • 1 вариант — <strong>классическое ирими наге</strong><br />
                    • 2 вариант — <strong>входное ирими наге</strong><br />
                    7. <strong>Уде кими наге</strong> (2 варианта)
                  </p>
                  <h4 class="text-center">3 ЧАСТЬ - ИТОГОВАЯ</h4>
                  <p>
                    − упражнение «единица» на 2 чел. (вход через низ) на 2 чел. (через верх)<br />
                    - <strong>шихо наге + икьё ура</strong><br />
                    - <strong>котэ гаёши + куби наге</strong>
                  </p>
                </div>
              </div>

              <div class="tabs__pane">
                <div class="iframe-cont iframe mx-auto">
                  <div class="player" id="player-9" data-video-id="eeFb3y91i28" data-width="560" data-height="315">
                  </div>
                </div>
                <div class="prog mx-auto">
                  <h5 class="text-center">2 кю (коричневый пояс)</h5>
                  <h4 class="text-center">1 ЧАСТЬ - ПОДГОТОВИТЕЛЬНАЯ</h4>
                  <h3>АКРОБАТИКА</h3>
                  <p>
                    − все кувырки (мае укеми, ёко укеми, уширо укеми, ёко укеми, форма «квадрат»)
                  </p>
                  <h3>СТРАХОВКА</h3>
                  <p>
                    − высокое падение, с отрывом от земли (не через кувырок)
                  </p>
                  <h3>СТП (специальные технические перемещения)</h3>
                  <p>
                    − атака мае гири упражнение «ноль»<br />
                    − атака мае гири упражнение «единица»
                  </p>
                  <h3>УДАРНАЯ ТЕХНИКА</h3>
                  <p>
                    − мае гири
                    − маваши гири
                  </p>
                  <h3>НВА (начало встречи атаки)</h3>
                  <p>
                    − защита от атаки мае гири («внутрь» и «наружу»)
                    − защита от атаки маваши гири («внутрь»)
                  </p>
                  <h3>ОФП</h3>
                  <p>
                    − 45 отжиманий, 45 приседаний, 45 чемоданов ,45 берпи , 9 подтягивание
                  </p>
                  <h4 class="text-center">2 ЧАСТЬ – ТЕХНИЧЕСКИЕ ПРИЕМЫ</h4>
                  <p>
                    <strong>
                      1. Мае гири - с раскруткой<br />
                      2. Мае гири – внутренний вход – цуги аши с подсечкой<br />
                      3. Мае гири – внутренний вход – цуги аши тенкан<br />
                      4. Мае гири – уширо тенкан – рукой ногу вверх<br />
                      5. Мае гири – прихват ноги – шаг назад (садим противника на шпагат)<br />
                      6. Ура маваши – ирине тенкан тенкай<br />
                      7. Маваши гири – классика – ирине тенкан – шаг назад<br />
                      8. Маваши гири – нырок под ногу – прихват стоящей ноги<br />
                      9. Маваши гири - ирине тенкан тенкай
                    </strong>
                  </p>
                  <h4 class="text-center">3 ЧАСТЬ - ИТОГОВАЯ</h4>
                  <p>
                    Работа в паре, уке 1 атака рукой мэн учи, уке 2 встает в стойку, уке 1 второй удар ногой мае гири,
                    уке 2 защита упражнение «ноль» два раза, техника против атаки мае гири.
                  </p>
                </div>
              </div>

              <div class="tabs__pane">
                <div class="iframe-cont iframe mx-auto">
                  <div class="player" id="player-10" data-video-id="DHb62bMnua0" data-width="560" data-height="315">
                  </div>
                </div>
                <div class="prog mx-auto">
                  <h5 class="text-center">1 кю (коричневый пояс с черной полоской)</h5>
                  <h4 class="text-center">1 ЧАСТЬ - ПОДГОТОВИТЕЛЬНАЯ</h4>
                  <h3>АКРОБАТИКА</h3>
                  <p>
                    − все кувырки (выполнение кувырков маеукеми, ушироукеми, ёкоукеми, и упражнения «колесо» по команде
                    экзаменатора, из «центра»)
                  </p>
                  <h3>СТРАХОВКА</h3>
                  <p>
                    − высокое падение, с отрывом от земли (не через кувырок)
                  </p>
                  <h3>СТП (специальные технические перемещения)</h3>
                  <p>
                    − лесенка с 1 партнером
                    − прямая "восьмерка"
                    − упражнение ноль-один-ноль-один-ноль с одним и с двумя партнерами + 2 техники
                  </p>
                  <h3>УДАРНАЯ ТЕХНИКА</h3>
                  <p>
                    − <strong>КИХОН ДОСА(Кодачи, Текенморотэ, Нито)</strong>– ки-о цке, рей, камае то, мэн-о утэ, котэ-о
                    утэ, миги кара до-оутэ, хидари кара аши-о утэ, цки, мото-но ичи, осамэ то, рей; атака в голову –
                    контратака. Любое упражнение на выбор экзаменатора.<br />
                    − все предыдущие удары
                  </p>
                  <h3>НВА (начало встречи атаки)</h3>
                  <p>
                    − свободная работа от прямых ударов, без выхода на техники
                  </p>
                  <h3>ОФП</h3>
                  <p>
                    − 50 отжиманий, 50 приседаний, 50 чемоданов ,50 берпи , 10 подтягивание
                  </p>
                  <h4 class="text-center">2 ЧАСТЬ – ТЕХНИЧЕСКИЕ ПРИЕМЫ</h4>
                  <p>
                    1. <strong>Икьё</strong><br>
                    2. <strong>Никьё</strong><br>
                    3. <strong>Санкьё</strong> (классический вариант, учи кайтен)<br>
                    4. <strong>Котэ гаёши</strong><br>
                    5. <strong>Ирими наге</strong> (2 варианта)<br>
                    6. <strong>Уде осаэ</strong> (2 варианта: от второго удара, через крест «внутрь»; классический)<br>
                    7. <strong>Коши наге</strong> (2 варианта: по Любомиру; классический)
                  </p>
                  <h4 class="text-center">3 ЧАСТЬ - ИТОГОВАЯ</h4>
                  <p>
                    − упражнение "лесенка" с 1 партнером<br />
                    − 0-0-иккё(вариант ура)-1-1-котэ гаёши - 2-2 - ирими наге-3-3- учи кайтэн санкьё -2-2-удэ кими
                    наге-1-1- суми атоши - 0-0 - икьё (вариант ура)<br />
                    − упражнение «восьмерка» против двух нападающих + две техники из программы + «восьмерка» + две
                    другие техники с программы
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>


        <footer>
          <div class="footmain">
            <div class="textfoot">
              <div class="aikidofoot">
                <strong>Калининградский клуб <br /> Айкидо и Айкибудзюцу Гендай Кан</strong>
              </div>
            </div>
            <div class="tgvk">
              <div class="vk">
                <a href="https://vk.com/samuraikld" target="_blank"><img
                    src="{{ url_for('static', filename='images/footer/vk.svg') }}"></a>
              </div>
              <div class="tg">
                <a href="https://t.me/aikibujtsu" target="_blank"><img
                    src="{{ url_for('static', filename='images/footer/telegram.svg') }}" alt="VK"></a>
              </div>
            </div>
            <div class="telmail">
              <div class="mailfoot"><a href="mailto:Samurai2885@gmail.com"
                  type="mailto"><strong>Samurai2885@gmail.com</strong></a></div>
              <div class="telfoot"><a href="tel:+79210095753" type="tel"><strong>+7 (921) 009-57-53</strong></a></div>
            </div>
          </div>
        </footer>
      </div>

    </main>
  </div>

  <!--HEADER SCRIPT-->
  <script>
    const hamb = document.querySelector("#hamb");
    const menu = document.querySelector("#menu");
    const body = document.querySelector("body");

    hamb.addEventListener("click", hambHandler);

    function hambHandler(e) {
      e.preventDefault();
      hamb.classList.toggle("active");
      menu.classList.toggle("active");
      body.classList.toggle("lock");
    }
  </script>

  <script>
    class ItcTabs {
      constructor(target, config) {
        const defaultConfig = {};
        this._config = Object.assign(defaultConfig, config);
        this._elTabs =
          typeof target === "string"
            ? document.querySelector(target)
            : target;
        this._elButtons = this._elTabs.querySelectorAll(".tabs__btn");
        this._elPanes = this._elTabs.querySelectorAll(".tabs__pane");
        this._init();
        this._events();
      }
      _init() {
        this._elTabs.setAttribute("role", "tablist");
        this._elButtons.forEach((el, index) => {
          el.dataset.index = index;
          el.setAttribute("role", "tab");
          this._elPanes[index].setAttribute("role", "tabpanel");
        });
      }
      show(elLinkTarget) {
        const elPaneTarget = this._elPanes[elLinkTarget.dataset.index];
        const elLinkActive = this._elTabs.querySelector(".tabs__btn_active");
        const elPaneShow = this._elTabs.querySelector(".tabs__pane_show");
        if (elLinkTarget === elLinkActive) {
          return;
        }
        this._paneFrom = elPaneShow;
        this._paneTo = elPaneTarget;
        elLinkActive
          ? elLinkActive.classList.remove("tabs__btn_active")
          : null;
        elPaneShow ? elPaneShow.classList.remove("tabs__pane_show") : null;
        elLinkTarget.classList.add("tabs__btn_active");
        elPaneTarget.classList.add("tabs__pane_show");
        this._elTabs.dispatchEvent(
          new CustomEvent("tab.itc.change", {
            detail: {
              elTab: this._elTabs,
              paneFrom: this._paneFrom,
              paneTo: this._paneTo,
            },
          })
        );
        elLinkTarget.focus();
      }
      showByIndex(index) {
        const elLinkTarget = this._elButtons[index];
        elLinkTarget ? this.show(elLinkTarget) : null;
      }
      _events() {
        this._elTabs.addEventListener("click", (e) => {
          const target = e.target.closest(".tabs__btn");
          if (target) {
            e.preventDefault();
            this.show(target);
          }
        });
      }
    }

    const elTab = document.querySelector(".tabs");
    new ItcTabs(elTab);

    const elScript = document.createElement("script");
    elScript.src = "https://www.youtube.com/iframe_api";
    document.head.append(elScript);

    const players = {};
    function onYouTubeIframeAPIReady() {
      document.querySelectorAll(".player").forEach((el) => {
        players[el.id] = new YT.Player(el.id, {
          height: el.dataset.height,
          width: el.dataset.width,
          videoId: el.dataset.videoId,
        });
      });
    }

    elTab.addEventListener("tab.itc.change", (e) => {
      const paneFrom = e.detail.paneFrom;
      if (paneFrom) {
        const player = paneFrom.querySelector(".player");
        player ? players[player.id].pauseVideo() : null;
      }
    });
  </script>
</body>
</html>